/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.table-norm {
  width: 100%;
}

.th-table {
  width: 35px;
}

.btn-table {
  height: 28px;
  width: 28px;
}

.spinner-geral {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.titulo {
  text-align: center;
  color: green;
}
