<div class="container row me-0">
  <div class="col-2">
    <button [matMenuTriggerFor]="animals" class="mt-lg-5">
      PRODPLUS
    </button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="cadastro">Cadastro</button>
      <button mat-menu-item [matMenuTriggerFor]="demandas">Demandas</button>
      <button mat-menu-item [matMenuTriggerFor]="controle">Controle</button>
    </mat-menu>
    <mat-menu #cadastro="matMenu">
      <button mat-menu-item [routerLink]="['/cadastro/custos']">Custos</button>
      <button mat-menu-item [routerLink]="['/cadastro/feriados']">Feriados</button>
      <button mat-menu-item [routerLink]="['/cadastro/materiais']">Materiais</button>
      <button mat-menu-item [routerLink]="['/cadastro/produtos']">Produtos</button>
      <button mat-menu-item [routerLink]="['/cadastro/processos']">Processos</button>
      <button mat-menu-item [routerLink]="['/cadastro/produtos-saida']">Produtos Saída</button>
      <button mat-menu-item [routerLink]="['/cadastro/amostras']">Amostras</button>
    </mat-menu>
    <mat-menu #demandas="matMenu">
      <button mat-menu-item [routerLink]="['/demanda/executadas']">Executadas</button>
    </mat-menu>
    <mat-menu #controle="matMenu">
      <button mat-menu-item [routerLink]="['/controle/lotes-material']">
        Lotes Material
      </button>
      <button mat-menu-item [routerLink]="['/controle/lotes-produto']">
        Lotes Produto
      </button>
      <button mat-menu-item [routerLink]="['/controle/estoque-material']">
        Estoques Materiais
      </button>
    </mat-menu>
  </div>
  <div class="col-10 mt-lg-5">
    <router-outlet></router-outlet>
  </div>
</div>
