<div class="container row me-0">
  <div class="col-2">
    <button [matMenuTriggerFor]="animals" class="mt-lg-5">
      PRODPLUS
    </button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="cadastro">Cadastro</button>
    </mat-menu>
    <mat-menu #cadastro="matMenu">
      <button mat-menu-item [routerLink]="['/cadastro/custos']">Custos</button>
      <button mat-menu-item [routerLink]="['/cadastro/feriados']">Feriados</button>
      <button mat-menu-item [routerLink]="['/cadastro/materiais']">Materiais</button>
      <button mat-menu-item [routerLink]="['/cadastro/produtos']">Produtos</button>
      <button mat-menu-item [routerLink]="['/cadastro/processos']">Processos</button>
    </mat-menu>
  </div>
  <div class="col-10 mt-lg-5">
    <router-outlet></router-outlet>
  </div>
</div>
