<h2 class="titulo">Materiais</h2>
<mat-spinner class="spinner-geral" *ngIf="isLoading"></mat-spinner>
<div class="card mat-elevation-z10" *ngIf="!isLoading">
  <div class="card-header">
    <div class="card-title">Cadastrar material</div>
    <div class="card-subtitle">
      <button class="btn btn-danger" type="button"
          [routerLink]="['/cadastro/materiais']">
        cancelar
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="salvar()" style="padding: 15px;">
      <div class="mb-3">
        <label for="inputDescricao" class="form-label">Descrição:</label>
        <input type="text" [ngClass]="onBlurInput('descricao')" id="inputDescricao"
            formControlName="descricao" #input placeholder="obrigatório"
            style="text-transform: uppercase;" autofocus>
      </div>
      <div class="row col-12 mb-3">
        <div class="col-3">
          <label for="inputTipoCompra" class="form-label">Tipo compra:</label>
          <select id="inputTipoCompra" [ngClass]="onBlurSelect('tipoCompra')"
              formControlName="tipoCompra">
            <option [ngValue]="null" disabled>...</option>
            <option *ngFor="let item of tiposMetricos" [value]="item.value">
              {{ item.desc }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <label for="inputTipoProducao" class="form-label">Tipo produção:</label>
          <select id="inputTipoProducao" [ngClass]="onBlurSelect('tipoProducao')"
              formControlName="tipoProducao">
            <option [ngValue]="null" disabled>...</option>
            <option *ngFor="let item of tiposMetricos" [value]="item.value">
              {{ item.desc }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <label for="inputFator" class="form-label">Fator:</label>
          <input type="text" id="inputFator" [ngClass]="onBlurInput('fator')"
              mask="separator.6" thousandSeparator="." style="text-align: right;" formControlName="fator">
        </div>
        <div class="col-2">
          <button class="btn btn-sm btn-primary" style="margin-top: 35px;" type="button"
              [disabled]="habilitaCalc()" (click)="calculaFator()" title="calcular fator">
            calcular
          </button>
        </div>
      </div>
      <div class="row col-12 mb-3">
        <div class="col-3">
          <label for="inputCompra" class="form-label">Custo compra:</label>
          <input currencyMask id="inputCompra" [ngClass]="onBlurInput('custoCompra')"
              formControlName="custoCompra">
        </div>
        <div class="col-3">
          <label for="inputPedido" class="form-label">Custo pedido:</label>
          <input currencyMask id="inputPedido" [ngClass]="onBlurInput('custoPedido')"
              formControlName="custoPedido">
        </div>
        <div class="col-3">
          <label for="inputEstoque" class="form-label">Custo estoque:</label>
          <input currencyMask id="inputEstoque" [ngClass]="onBlurInput('custoEstoque')"
              formControlName="custoEstoque">
        </div>
        <div class="col-2">
          <button class="btn btn-sm btn-primary" style="margin-top: 35px;" type="button"
              [disabled]="habilitaCalcEst()" (click)="calculaCustoEstoque()"
              title="calcular custo estoque">
            calcular
          </button>
        </div>
      </div>
      <div class="row col-12 mb-3">
        <div class="col-3">
          <label for="inputLeadTime" class="form-label">Lead time:</label>
          <input type="text" id="inputLeadTime" [ngClass]="onBlurInput('leadTime')"
              mask="0*" formControlName="leadTime" style="text-align: center;"
              suffix=" dias">
        </div>
        <div class="col-3">
          <label for="inputValidade" class="form-label">Validade:</label>
          <input type="text" id="inputValidade" [ngClass]="onBlurInput('validade')"
              mask="0*" formControlName="validade" style="text-align: center;"
              suffix=" dias">
        </div>
      </div>
      <div class="d-grid gap-1">
        <button class="btn btn-lg btn-success" type="submit" [disabled]="form.invalid">
          salvar
        </button>
      </div>
    </form>
  </div>
</div>
