<app-pagina [isLoading]="isLoading">
  <app-titulo texto="Configurações Gerais"></app-titulo>
  <div class="text-center mb-4">
    <app-btn-home></app-btn-home>
  </div>
  <app-cad-turno titulo="Turnos Semana" [turnos]="configuracao.turnosSemana"
      idInputInicio="inputInicioSemana" idInputFim="inputFimSemana"
      (alteracao)="alteraTurnosSemana($event)">
  </app-cad-turno>
  <app-cad-turno titulo="Turnos Sábado" [turnos]="configuracao.turnosSabado"
      idInputInicio="inputInicioSabado" idInputFim="inputFimSabado"
      (alteracao)="alteraTurnosSabado($event)">
  </app-cad-turno>
  <app-cad-turno titulo="Turnos Domingo" [turnos]="configuracao.turnosDomingo"
      idInputInicio="inputInicioDomingo" idInputFim="inputFimDomingo"
      (alteracao)="alteraTurnosDomingo($event)">
  </app-cad-turno>
</app-pagina>
