<h2 class="titulo">Produtos</h2>
<mat-spinner class="spinner-geral" *ngIf="isLoading"></mat-spinner>
<div class="card mat-elevation-z10" *ngIf="!isLoading">
  <div class="card-header">
    <div class="card-title">Produto cadastrados</div>
    <div class="card-subtitle">
      <mat-slide-toggle [checked]="ativos" color="primary"
          (toggleChange)="alteraAtivos()" title="exibir ativos/inativos">
        {{ ativos ? 'ativos' : 'inativos' }}
      </mat-slide-toggle>
      <button class="ms-2 btn btn-primary" type="button" title="novo produto"
          [routerLink]="['novo']">
        novo
      </button>
    </div>
  </div>
  <div class="card-body">
    <pagination [totalItems]="produtos.totalElements" [boundaryLinks]="true"
        previousText="&lsaquo;" firstText="&laquo;" nextText="&rsaquo;"
        lastText="&raquo;" [maxSize]="6" [ngModel]="pagina"
        (pageChanged)="mudaPagina($event)" [itemsPerPage]="20">
    </pagination>
    <app-tabela>
      <thead class="bg-dark text-white border-1 border-dark">
        <th class="text-center">Descrição</th>
        <th class="text-center" title="tipo métrico">T.M.</th>
        <th class="text-center">Validade</th>
        <th class="text-center th-table">edt</th>
        <th class="text-center th-table">a/d</th>
        <th class="text-center th-table">exc</th>
      </thead>
      <tbody>
        <tr *ngFor="let prod of produtos.content">
          <td class="align-middle">{{ prod.descricao }}</td>
          <td class="text-center align-middle">
            {{ getTipoDesc(prod.tipoMetrico) }}
          </td>
          <td class="text-center align-middle">
            {{ prod.validade }} dias
          </td>
          <td class="text-center align-middle">
            <button class="btn btn-sm btn-primary btn-table" title="editar produto"
                type="button" [routerLink]="['novo', prod.id]">
              &squf;
            </button>
          </td>
          <td class="text-center align-middle">
            <button class="btn btn-sm btn-secondary btn-table" title="ativar/desativar"
                type="button" (click)="openDialogAtivar(prod)">
              &squf;
            </button>
          </td>
          <td class="text-center align-middle">
            <button class="btn btn-sm btn-danger btn-table" title="excluir produto"
                type="button" (click)="openDialogExcluir(prod)">
              &squf;
            </button>
          </td>
        </tr>
      </tbody>
    </app-tabela>
  </div>
</div>
